.App {
  text-align: center;
}
a:hover {
  color: #28b9b5 !important;
  text-decoration: underline;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #28b9b5;
}
.App {
  text-align: center;
}
@import url("https://use.typekit.net/vlx2aqk.css");

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #28b9b5;
}
.globalBody {
  margin-left: 300px;
}
.globalNav {
  padding-top: 10px;
  margin-left: 300px;
  vertical-align: middle !important;
}
.container {
  max-width: 100% !important;
}

.leftNav {
  margin-left: 20px;
  float: left;
}

.rightNav {
  float: right;
}

.navLinks {
  padding-right: 20px;
  color: #000;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.9rem;
  vertical-align: middle;
}

.profile {
  font-size: 38px;
  color: #7f63f4;
}
.navlinks:hover {
  color: #28b9b5;
}
.noti-bell {
  font-size: 22px;
  color: #7f63f4;
}
.settings {
  font-size: 28px;
  color: #7f63f4;
}
.searchIcn {
  color: rgb(189, 189, 189);
  margin-top: -7px;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
  padding-top: 0px;
  box-shadow: 2px 0px 5px #e0e0e0;
}

.sidenav a {
  padding: 20px 20px 20px 60px;
  text-decoration: none;
  font-size: 16px;
  color: #6a707e;
  display: block;
  z-index: 2;
}

.sidenav a:hover {
  background-color: rgba(127, 99, 244, 0.1);
  vertical-align: middle;
  color: #7f63f4;
}
.sidenav .active {
  background-color: rgba(127, 99, 244, 0.1);
  font-weight: bold;
  color: #7f63f4;
}
.nav-icons {
  font-size: 20px;
  margin-right: 20px;
}
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.nav-logo {
  height: 70px;
  background-color: #805df4;
  position: relative;
  font-size: 20px;
  color: white;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  text-align: center;
  height: 50px;
}

.searchField {
  background: #f3f3f3;
  display: flex;
  box-shadow: none;
  border-radius: 18px;
  z-index: 3;
  height: 26px;
  width: 300px;
  flex: 1;
  padding: 5px 8px 0 16px;
  margin-top: 20px;
}
.searchField:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
.textInput {
  background-color: transparent;
  font-size: 14px;
  height: 110px !important;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: -47px;
}

.expInput {
  background: #f3f3f3;
  border-radius: 2px;
  height: 22px;
  margin: 0 auto;
  width: 200px;
  padding: 5px 8px 0 16px;
  font-size: 0.8rem;
  border: none;
  color: rgba(0, 0, 0, 0.87);
}
.buttons {
  text-align: center;
}
.globalFooter {
  z-index: 3;
  background: #f2f2f2;
  line-height: 20px;
  min-width: 980px;
  border-top: 1px solid #e4e4e4;
  vertical-align: middle;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
.leftFooter {
  float: left;
  padding-left: 20px;
}
.rightFooter {
  float: right;
}
.footerLinks {
  padding-right: 20px;
  color: #555;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.8rem;
}
.footerLinks:hover {
  text-decoration: underline;
  color: #777;
}
.centerFooter {
  text-align: center;
  padding-right: 20px;
  color: #555;
  font-family: sans-serif;
  font-size: 0.8rem;
}
.expHeader {
  top: 40px;
  background-color: rgba(127, 99, 244, 0.1);
  color: #805df4;
  font-family: sans-serif;
  height: 60px;
  position: relative;
  display: inline-block;
  padding: 20px 0 0 23px;
  width: 100%;
}
.exp-h1 {
  float: left;
  font-size: 16px;
  font-weight: 600;
}
.create-new {
  float: right;
  font-size: 14px;
  font-weight: 500;
  margin-right: 43px;
  color: #805df4;
}
.create-new a {
  text-decoration: none;
  color: #805df4;
}
.create-new:hover {
  font-weight: bold;
}
.exp-form {
  margin-top: 50px;
  margin-left: 20px;
  float: left;
  width: 100%;
  display: inline-flex;
}
input {
  width: 100%;
}
.textarea {
  width: 100%;
}
.description {
  font-size: 12px !important;
}
.add__btn {
  font-size: 35px;
  background: none;
  border: none;
  color: #28b9b5;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  margin-left: 10px;
  margin-top: 8px;
}
.add__btn:hover {
  color: #805df4;
}
.add__btn:active {
  transform: translateY(2px);
}
.add__btn:focus {
  outline: none;
}
.ion-ios-checkmark-outline:before {
  content: "\f3fe";
}
.add__type {
  width: 100%;
  background-color: #fff;
  height: 24px;
  -webkit-appearance: menulist;
  border: 0;
  outline: 1px solid #dfdfdf;
  outline-offset: -1px;
  font-size: 12px;
}
.add {
  padding-bottom: 20px;
}
.table-striped {
  margin-top: 10%;
  margin-left: 2%;
}
.table td,
.table th {
  font-size: 14px;
}
.total-hd {
  background-color: #f3f3f3;
  margin-left: 2.5%;
  bottom: 0;
  margin-bottom: 80px;
  position: absolute;
}
.exp-sum {
  background-color: rgba(127, 99, 244, 0.2);
  color: #805df4;
  font-family: sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  height: 60px;
  position: relative;
  display: inline-block;
  padding: 20px 0 0 23px;
  width: 100%;
}
.totals {
  padding-left: 20px;
  color: #555;
  padding-top: 10px;
}
.totals h5 {
  font-weight: 700;
  font-size: 18px;
  color: #805df4;
  padding: 10px 0 10px 0;
  text-transform: uppercase;
}
.lessCash {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-style: italic;
  color: #777 !important;
}
.dueEmp {
  font-size: 14px !important;
  color: #805df4 !important;
}
.dueToEmp {
  width: 70px;
  margin-right: 20px;
  margin-left: 5px;
  font-size: 12px;
}
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
  font-size: 12px;
}
button input {
  font-size: 12px !important;
}
.bizPurp {
  font-size: 12px !important;
}
.merchant {
  font-size: 12px !important;
}
.accountNo {
  font-size: 12px !important;
}
.category {
  font-size: 12px !important;
}
.amount {
  font-size: 12px !important;
}
.submit-btn {
  background-color: #7f63f4;
  z-index: 4;
  line-height: 20px;
  vertical-align: middle;
  bottom: 80px;
  position: absolute;
  right: 5%;
  float: right;
}
.sbt-btn {
  background-color: #7f63f4;
  color: #fff;
  padding: 10px;
  font-weight: 700;
}
.sbt-btn:hover {
  background-color: #28b9b5;
}
.gen {
  font-size: 14px;
  margin: 0;
}
